body {
    margin-top: 150px;
   
    
    
}
.container {
    background-color: whitesmoke;
    width: 600px;
    height: max-content;
    padding-bottom: 30px;
    margin:auto;
    margin-top: 5px;
    
}
.title {
   
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 100;
   
    
}

.tasker2{
    border: none;
    border-bottom: 1px solid rgb(195, 195, 195);
    outline: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: transparent;
    padding-bottom: 10px;
    padding-left: 10px;
    
}

.list-group-item{ 
   

    background-color:whitesmoke;
    border: 0;
    border-bottom: 1px solid rgb(195, 195, 195);
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
   
      
}
.letra {
    background-color:rgb(249, 245, 240);
    float: right;
    font-size: 25px;
    margin-top: 15px;
}

.sobra {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
